.image-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container {
  position: relative;
  max-width: 800px;
  width: 100%;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.text-top,
.text-bottom {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: calc(100% - 40px);
  text-align: center;
  text-shadow: 1px 1px #fff;
  z-index: 2;
  color: white;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: black;
}

.text-top {
  top: 0;
}

.text-bottom {
  bottom: 0;
}
